 <!DOCTYPE html>
<html ng-app="ChallengeApp">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/challenge.js"></script>
<title>Challenge</title>
</head>
<body>
	<div ng-controller="challengeCtrl">
		<header class="container">
		<h1 class="text-uppercase app_title">Challenge<sub>This is a test</sub></h1>
		<div class="search-box form-inline">
			Search by : <input class="form-control" type="text" ng-model="search.alias" placeholder="Alias..."> <input class="form-control" type="text" ng-model="search.unique_name" placeholder="Name..."> 
		</div>
		</header>
		<div class="main container">
			<!-- Application list -->
			<div class="app_list col-xs-8">
				<h2 class="text-center section-title">Client apps list</h2>
				<div class="table-responsive">
					<table class="table-bordered table-hover table table-striped">
						<tr>
							<th><a href="#" ng-click="sort('id')">Id</a></th>
							<th><a href="#" ng-click="sort('alias')">Alias</a></th>
							<th><a href="#" ng-click="sort('is_active')">is_active</a></th>
							<th><a href="#" ng-click="sort('is_book_app')">is_book_app</a></th>
							<th><a href="#" ng-click="sort('is_game_app')">is_game_app</a></th>
							<th><a href="#" ng-click="sort('is_tour_app')">is_tour_app</a></th>
							<th><a href="#" ng-click="sort('is_indoor_app')">is_indoor_app</a></th>
							<th><a href="#" ng-click="sort('unique_name')">Unique_name</a></th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
						<tr id="app_{{app.id}}" ng-repeat="app in apps | filter:search | orderBy:sortProperty:reverseSort track by $index">
							<td>{{app.id}}</td>
							<td>{{app.alias}}</td>
							<td>{{app.is_active}}</td>
							<td>{{app.is_book_app}}</td>
							<td>{{app.is_game_app}}</td>
							<td>{{app.is_tour_app}}</td>
							<td>{{app.is_indoor_app}}</td>
							<td>{{app.unique_name}}</td>
							<td class="text-center"><a href="#" ng-click="showupdate(app);"><i class="fa fa-pencil-square-o"></i></a>
							</td>
							<td class="text-center"><a href="#" ng-click="removeApp()"><i class="fa fa-trash-o"></i></a></td>
						</tr>
					</table>
				</div>
			</div>
			<!-- Add form-->
			<div class="app_form col-xs-4" ng-hide="editable">
				<h2 class="text-center section-title">Add client app</h2>
				<form class="form-horizontal add_form right_form" ng-submit="addApp()" novalidate>
					<div class="form-group">
						<label class="col-sm-5 control-label">Alias* :</label>
						<div class="col-sm-7">
							<input type="text" placeholder="alias" ng-model="newApp.alias" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Unique name* :</label>
						<div class="col-sm-7"> 
							<input type="text" placeholder="unique name" ng-model="newApp.unique_name" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">is_active :</label>
						<div class="col-sm-7">
							<select ng-model="newApp.is_active">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Book application :</label>
						<div class="col-sm-7">
							<select ng-model="newApp.is_book_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Game application :</label>
						<div class="col-sm-7">
							<select ng-model="newApp.is_game_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-5 control-label">Tour application :</label>
					    <div class="col-sm-7">
						    <select ng-model="newApp.is_tour_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Indoor application :</label>
						<div class="col-sm-7">
							<select ng-model="newApp.is_indoor_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<small>(*) Required fields</small>
					<p></p>
					<button class="btn btn-primary">Add application</button>
				</form>
			</div>
			<!-- Update form -->
			<div class="app_form col-xs-4" ng-show="editable">
				<h2 class="text-center section-title">Update application</h2>
				<form class="form-horizontal update_form right_form" ng-submit="updateApp()" novalidate>
					<div class="form-group">
						<label class="col-sm-5 control-label">Alias* :</label>
						<div class="col-sm-7">
							<input type="text" placeholder="alias" ng-model="editable_values.alias" required value="{{editable_values.alias}}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Unique name* :</label>
						<div class="col-sm-7"> 
							<input type="text" placeholder="unique name" ng-model="editable_values.unique_name" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">is_active :</label>
						<div class="col-sm-7">
							<select ng-model="editable_values.is_active">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Book application :</label>
						<div class="col-sm-7">
							<select ng-model="editable_values.is_book_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Game application :</label>
						<div class="col-sm-7">
							<select ng-model="editable_values.is_game_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-5 control-label">Tour application :</label>
					    <div class="col-sm-7">
						    <select ng-model="editable_values.is_tour_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Indoor application :</label>
						<div class="col-sm-7">
							<select ng-model="editable_values.is_indoor_app">
								<option ng-repeat="choice in choices" value="{{choice}}">{{choice}}</option>
							</select>
						</div>
					</div>
					<small>(*) Required fields</small>
					<p></p>
					<button class="btn btn-primary">Update</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>